{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

<div class="mb-3">
    {{ form_label(form.humeur) }}
    {{ form_widget(form.humeur, {'attr': {'class': 'form-control'}}) }}
    <div class="text-danger small">
        {{ form_errors(form.humeur) }}
    </div>
</div>

<div class="mb-3">
    {{ form_label(form.contenu) }}
    {{ form_widget(form.contenu, {'attr': {'class': 'form-control', 'rows': 5}}) }}
    <div class="text-danger small">
        {{ form_errors(form.contenu) }}
    </div>
</div>

<button class="btn btn-primary">Enregistrer</button>

{{ form_end(form) }}
