{% extends 'base.html.twig' %}

{% block title %}AnalyseEmotionnelle index{% endblock %}

{% block body %}
    <h1>AnalyseEmotionnelle index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>EmotionPrincipale</th>
                <th>NiveauStress</th>
                <th>ScoreBienEtre</th>
                <th>ResumeIA</th>
                <th>DateAnalyse</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for analyse_emotionnelle in analyse_emotionnelles %}
            <tr>
                <td>{{ analyse_emotionnelle.id }}</td>
                <td>{{ analyse_emotionnelle.emotionPrincipale }}</td>
                <td>{{ analyse_emotionnelle.niveauStress }}</td>
                <td>{{ analyse_emotionnelle.scoreBienEtre }}</td>
                <td>{{ analyse_emotionnelle.resumeIA }}</td>
                <td>{{ analyse_emotionnelle.dateAnalyse ? analyse_emotionnelle.dateAnalyse|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_analyse_emotionnelle_show', {'id': analyse_emotionnelle.id}) }}">show</a>
                    <a href="{{ path('app_analyse_emotionnelle_edit', {'id': analyse_emotionnelle.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_analyse_emotionnelle_new') }}">Create new</a>
{% endblock %}
